body {
	margin: 0;

}





#header {
	background:  #00BFFF;
	height: 60px; 
}



a {
	color: black;
	text-decoration: none;
}


#wrapper {
	outline: 2px solid #F5F5F5;
	background: #FFF;
	width: 1000px;
	margin: 0 auto;
}


#b-newtopic {
	float: right;
	margin-top: 18px;
	margin-right: 30px;
}

.test {
	border-radius: 0px 0px 0px 0px;

}



#header-newtopic {
	margin-top: 10px;
	-moz-margin-top: 10px;
}

#content textarea {
 	margin-left: 10px;
 	moz-margin-left: 10px;
 	width: 930px;
 	height: 500px;
 	resize: none;
 	border-radius: 0px 0px 0px 0px;

}

#add-topic {
	float: right;
	border-radius: 0px 0px 0px 0px;
	margin-right: 5px;
	background: #00BFFF;
	font-family: GranaPadano, Arial, Times New Roman, Tahoma;
	font-size: 16px;
	text-shadow: none;
	border: none;
}


#header-newtopic {
	margin-left: 10px;
	border-radius: 0px 0px 0px 0px;
}


#title-topic {
	font-family: GranaPadano, Arial, Times New Roman, Tahoma;
	background: #4682B4;
	color: #F5F5F5;
	font-size: 20px;
	padding-left: 15px;
	padding-top: 5px;
	border-radius: 2px 2px 0px 0px;

}

#content-topic {
	font-family: Times New Roman, Tahoma;
	padding: 15px;
	text-indent: 10px;
	background: #F5F5F5;
}

#info-topic {
	font-size: 10px;
	padding-left: 925px;
	border-top: #FF0000;
	background: #F5F5F5;


}


#footer {
	background: #00BFFF;
	width: 1000px;
	height: 35px;
	border-radius: 0px 0px 0px 0px;
	padding-top: 20px;
	text-align: center;
}

#showMenu  {
	float: left;
	margin-top: 23px;
	margin-left: 30px;
}


#topic {
	background: #F5F5F5;
	width: 950px;
	height: 500px;
	margin: 0 auto;
	margin-top: 30px;
}

#header-topic {
	background: #87CEEB;
	width: 950px;
	height: 40px;
}

#topic-contents {
	margin-left: 5px;
	height: 460px;

}

#note {
	background: #87CEEB;
	width: 950px;
	height: 20px;

}

#comments {
	background: #F5F5F5;
	width:  950px;
	height: 80px;


}





#sidebar {
	position:absolute;
	width: 250px;
	height: 700px;
	background: #00BFFF;
	margin-left: -250px;
}

#header-menu {
	margin: 0 auto;
	display: block;
	width: 250px;
	height: 120px;
	background: #336699;
	padding-top: 30px;
}

#sidebar input {
	width: 170px;
	font: 14px serif;
	padding: 6px 0px 4px 30px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 1px;
    margin-bottom: 3px;
    margin-left: 20px;
}

#sidebar button { 
	border-radius: 0px 0px 0px 0px;
	background: #00BFFF;
	font-family: GranaPadano, Arial, Times New Roman, Tahoma;
	font-size: 14px;
	text-shadow: none;
	border: none;
	float: left;
	margin-left: 25px;
	cursor: pointer;
}

#sidebar button:hover{ 
	background: #258ecd;
	color: #d6dadb;

}

#sidebar nav a {
	font-family: GranaPadano, Arial, Times New Roman, Tahoma;
	font-size: 1.4em;
	display: block;
	padding-left: 30px;
	padding-top: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid #336699;
}

#sidebar nav a:hover {
	background: #258ecd;
	color: #d6dadb;
}

.forgot-password {
    color: white;
    font: 14px GranaPadano;
    float: right;
    margin-right: 28px;
    
}
.forgot-password a:hover {
    text-decoration: underline;
    color: #cecece;
}

.register {
	font-family: GranaPadano, Arial, Times New Roman, Tahoma;
	font-size: 14px;
}

.register label {
	margin-left: 20px;
}

.register input {
	width: 250px;

}


.sbutton { 
	border-radius: 0px 0px 0px 0px;
	background: #00BFFF;
	font-family: GranaPadano, Arial, Times New Roman, Tahoma;
	font-size: 14px;
	text-shadow: none;
	border: none;
	cursor: pointer;

}

.sbutton:hover { 
	background: #258ecd;
	color: #d6dadb;
}

.regbutton {
	height: 30px;
	margin-right: 100px;
	float: right;
}


form {
	margin: 0;

}